<h1>Posts#index</h1>

<ul>
  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <%= link_to post.content, post_path(post) %> <br>
    <% end %>
  <% else %>
    <p>No Posts</p>
  <% end %>
</ul>
